<div class="container body-content">

    <table class="job-listing">
        @foreach (var job in ViewBag.jobs)
        {
        <tr>
            
            <th>ID:</th>
            <td>@job.Id</td>

            <th>Name:</th>
            <td>@job.Name</td>

            <th>Employer:</th>
            <td>@job.Employer</td>

            <th>Location:</th>
            <td>@job.Location</td>

            <th>Position Type:</th>
            <td>@job.PositionType</td>

            <th>Skill:</th>
            <td>@job.CoreCompetency</td>
        </tr>
            
        }

    </table>


</div>